footer {
    align-items: center;
    background-color: #FFFFFF;
    border-top: solid 1px #CCCCCC;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}